*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  background-color: #000000;
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: #000000;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  padding-top: 50px;
}

.content h1 {
  font-size: 2em;
  /* line-height: 2em; */
}

.content h3 {
  font-size: 1.3em;
  padding-top: 5px;
}

.location {
  border-bottom: 1px solid #777;
  /* float: left; */
  padding: 20px;
  width: 100%;
  background-color: #DBD9DB;
}

.location:hover {
  background-color: #ABA9AB;
}

.location h1 {
  font-size: 1.8em;
  font-weight: 900;
}

.content {
  width: 90%;
  display: inline-block;
}

.arrow {
  float: right;
  margin-top: 7px;
}

.arrow-left {
  margin-top: 5px;
}
